@use "variables" as v;
@use "mixins";

/* Classes personnalisées */
.container {
  flex: 1;
  width: 90%;
  max-width: 1800px;
  margin: 0 auto;
  box-sizing: border-box;
  overflow-x: hidden;
}

.slogan {
  font-family: v.$font-secondary-italic;
  font-weight: 800;
  font-size: 1.5rem;
}

.dot {
  font-size: 10rem;
  color: white;
  position: fixed;
  mix-blend-mode: difference;
}

.hidden {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 0.6s ease-out;
}

.show {
  opacity: 1;
  transform: translateY(0);
  color: white;
  margin-left: 13.5rem;
  font-size: 10rem;
  padding-top: 1.5rem;
}

.s1 {
  background-color: black;
  height: 100rem;
  padding-top: 2rem;
  margin-top: 4rem;
  width: 100%;
}

.hero {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}
.hero h1 {
  grid-row: 1;
  grid-column: 1 / 2;
  justify-self: start;
}
.hero p {
  grid-row: 2;
  grid-column: 2 / 3;
  display: flex;
  justify-content: start;
}
