@use "variables" as v;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html,
body {
  margin: 0;
  padding: 0;
  height: auto;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: v.$font-primary;
  background-color: white;
  box-sizing: border-box;
  overflow-x: hidden;
  position: relative;
}

header {
  position: sticky;
  top: 0;
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1.5rem 2rem;
  position: relative;

  .nav-link,
  .nav-separator {
    font-family: v.$font-primary;
    margin-right: 1rem;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    transition: color v.$transition-fast;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 0;
      height: 2px;
      background: black;
      transition: width v.$transition-fast;
    }

    &:hover::after {
      width: 100%;
    }
  }

  .nav-separator {
    user-select: none;

    &::after {
      display: none;
    }
  }
}

main {
  flex: 1;
}

footer {
  align-self: center;
  padding: 2rem;
  text-align: center;

  p{
    font-size: 1rem;
    color: #000;
  }
}
