@use "variables" as v;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html,
body {
  margin: 0;
  padding: 0;
  height: auto;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: v.$font-primary;
  background-color: white;
  overflow-x: hidden;
  position: relative;
}

header {
  position: sticky;
  top: 0;
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  position: relative;

  .instagram-link {
    margin-right: auto;
    display: flex;
    align-items: center;

    .instagram-icon {
      height: 50px;
      width: 50px;
      transition: opacity v.$transition-fast;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  .nav-link,
  .nav-separator {
    font-family: v.$font-primary;
    margin-right: 1rem;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    transition: color v.$transition-fast;
    position: relative;
    font-weight: 500;

    &:hover {
        opacity: 0.7;
      }
  }

  .nav-separator {
    user-select: none;

    &::after {
      display: none;
    }
  }
}

main {
  flex: 1;
}

footer {
  align-self: center;
  padding-bottom: 4rem;
  text-align: center;

  p{
    font-size: 1rem;
    color: #000;
  }
}
