* {
  box-sizing: border-box;
}

/* Polices */
@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Noto Serif";
  src: url("../fonts/NotoSerif-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal;
}

/* Variables */
$primary: #8b52f1;
$secondary: #9db6c3;
$light: #f1f2f3;
$dark: #221f20;
$font-primary: "Outfit", sans-serif;
$font-secondary: "Noto Serif", serif;

/* Styles */

nav{
    display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary;
  padding: 30px 20px;
}

nav a {
  color: $light;
  text-decoration: none;
  font-family: $font-primary;
  font-size: 1rem;
  margin: 0 15px;
  padding: 8px 12px;
  transition: all 0.3s ease;
  border-radius: 5px;
  background-color: $dark;
  border: 2px solid $light;
}

nav a:hover {
  background-color: $light;
  color: $dark;
  border-color: $dark;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: $font-primary;
  font-size: 40px;
  background-color: $light;
  box-sizing: border-box;
}

footer {
  width: 100%;
  background-color: $dark;
  text-align: center;
  font-family: $secondary;
  color: $light;
  font-size: 16px;
  margin: 0px;
  padding: 50px 0px;
}

/* Classes personnalisées */

.container {
  flex: 1;
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  text-align: center;
  overflow-x: hidden;
}


.text-primary {
  color: $primary;
}

.text-secondary {
  color: $secondary;
}

.text-light {
  color: $light;
}

.text-dark {
  color: $dark;
}
