@use "variables" as v;
@use "mixins";
@use "class";
@use "fonts";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Styles */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: v.$font-primary;
  background-color: white;
  box-sizing: border-box;
}

nav{
  display: flex;
  justify-content: end;
  padding-top: 1.5rem;
  padding-right: 1rem;
  a{
    font-family: v.$font-primary;
    margin-right: 1rem;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
  }
}

h1{
  font-size: 10rem;
  margin-left: 15rem;
  text-shadow: 0.5rem 0.5rem 2rem rgb(0, 0, 0, 0.5);
}

footer{
  align-self: center;
  margin: 20px;
}

@media (max-width: 600px) {
  nav {
    flex-direction: column;
    padding: 15px;
  }

  nav a {
    margin: 10px 0;
  }
}

